.post-detail-layout {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 0.5em;
  background-color: #27272a;

  .post-detail-header {
    font-size: x-large;
    font-weight: 700;
    padding: 0;
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #94a3b8;
  }

  .post-detail-content {
    align-self: flex-start;
    padding: 1em;
  }

  .post-detail-date-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.collapsible {
  background-color: #262626;
  color: #e5e5e5;
  cursor: pointer;
  padding: 1em;
  margin-top: 1em;
  width: 100%;
  border: none;
  border-radius: 1em;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: background-color 0.2s ease;
}

.collapsible:hover {
  background-color: #ccc;
}

.divider {
  border: 1px solid #64748b;
  border-radius: 1em;
}

.comment-list {
  margin-top: 0.5em;
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.comment-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .comment-item-msg {
    font-size: medium;
    font-weight: 200;
    padding: 1em 0;
  }

  .comment-item-info {
    font-style: italic;
    font-size: small;
    font-weight: 100;
    color: #cbd5e1;
  }
}

.comment-form-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  border: 1px solid #9ca3af;
  border-radius: 0.5em;
  padding: 0.5em;

  .comment-form-input {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .comment-text-field {
    appearance: none;
    border-color: transparent;
  }
  .comment-form-button {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border-color: transparent;
    background-color: #365314;
    transition: all 0.2s ease;
  }
  .comment-form-button:hover {
    transform: scale(1.02);
    background-color: #65a30d;
  }
}
